@import '~@angular/material/theming';
@include mat-core();

$md-mcgpalette: (
    50 : #ececec,
    100 : #d0d0d0,
    200 : #b0b0b0,
    300 : #909090,
    400 : #797979,
    500 : #616161,
    600 : #595959,
    700 : #4f4f4f,
    800 : #454545,
    900 : #333333,
    A100 : #ff9d3f,
    A200 : #ff9d3f,
    A400 : #ef6c00,
    A700 : #b53d00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$default-theme-primary: mat-palette($md-mcgpalette, 900);
$default-theme-accent: mat-palette($md-mcgpalette, A400);
$default-theme-warn: mat-palette($md-mcgpalette, A700);

$default-theme: mat-light-theme(
    $default-theme-primary,
    $default-theme-accent,
    $default-theme-warn
);

@include angular-material-theme($default-theme);
