@import '~@angular/material/theming';
@include mat-core();

@import './customizable-theme.scss';

$primary: mat-palette($md-mcgpalette, 900);
$accent: mat-palette($md-mcgpalette, A400);
$warn: mat-palette($md-mcgpalette, A700);

$mat-light-theme-foreground: (
  base:              #333333,
  divider:           $black-12-opacity,
  dividers:          $black-12-opacity,
  disabled:          rgba(black, 0.38),
  disabled-button:   rgba(black, 0.38),
  disabled-text:     rgba(black, 0.38),
  hint-text:         #ff9d3f,
  secondary-text:    #ff9d3f,
  icon:              #ff9d3f,
  icons:             #ff9d3f,
  text:              rgba(white, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: #4f4f4f,
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       #4f4f4f,
  dialog:     #4f4f4f,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
