@import '~@angular/material/theming';

@include mat-core();

@import './mock-theme.scss';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 18;
  background: #4f4f4f
}

.basic-container {
  padding: 18px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
