<div class="example-container mat-elevation-z8" layout="column" layout-align="center center" layout-padding flex>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="fundName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> FUND </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.fundName}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="pnl">
      <mat-header-cell *matHeaderCellDef mat-sort-header> P&amp;L </mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.pnl | number:'1.2-2'}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cumulativePnl">
      <mat-header-cell *matHeaderCellDef mat-sort-header> CUMULATIVE P&amp;L </mat-header-cell>
      <mat-cell *matCellDef="let row" ng-mouseover="style={cursor: hand}"> {{row.cumulativePnl | number:'1.2-2'}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="return">
      <mat-header-cell *matHeaderCellDef mat-sort-header> RETURN </mat-header-cell>
      <mat-cell *matCellDef="let row" ng-mouseover="style={cursor: hand}"> {{row.return | number:'1.2-5'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns;"
      ></mat-row>
  </mat-table>
</div>
