.mat-table {
  overflow: auto;
}

.mat-header-cell .mat-sort-header-sorted {
  color: black;
}

.mat-column-select {
  max-width: 48px;
  overflow: inherit;
}

.cdk-row, .cdk-header-row {
    display: flex;
}

.cdk-cell, .cdk-header-cell  {
  flex: 8;
  display: flex;
  margin: 8;
}

.number-align {
  text-align: right;
}
